.landing-page-re {
    background-color: #0a0019;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.landing-page-re .div {
    background-color: #0a0019;
    width: 1440px;
    height: 1931px;
    position: relative;
}

                            /*** Middle Part CSS ***/
.overlap {
    position: absolute;
    width: 1440px;
    height: 1009px;
    top: 100px;
    left: -20px;
    background-image: url(https://s3-alpha-sig.figma.com/img/4d2f/e72f/ed6e6abc8a9a49656c83c0270223ccdf?Expires=1698624000&Signature=G7dPDzjfIauS567UbK3WBjf2d9ASsXrI4kgnU4RMhDdzceiJWd0Jxe6YIJgIC5gsuDOJ7NW7eSghT9Hz-nOtInIiOgmr5z1PO6TOFT9Ma~LkFoRnMFl6MAKarHp81IgiJDCQhcpNsQz-DFIJoZxBUYB2oy03Cx8bvBG3jEhPbjxxtfR4ozBMUwNDFUOdTd-PUHc9NHaqv5xH5NyVMZtqj85Y0SO90J70LpVuEKE96IbGiF4hhAgcMs3E28e70TMjUTdNqPdLHG30Gg-HDww4BPK9dx1gm08AfrKLDITmvAczd9ZPMmCovrtMIpv9pSIQRn3FMOfm4vLwhLSweXHRpw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4);
    background-size: 220% 300%;
    background-position: 51% center;
}

.enhance-GEN-AI-s {
    position: absolute;
    width: 1016px;
    height: 144px;
    top: 333px;
    left: 212px;
    font-family: "Poppins-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 48px;
    text-align: center;
    letter-spacing: 1.44px;
    line-height: normal;
}

.start-button-2 {
    width: 140px;
    height: 60px;
    background-color: #6a00ff;
    border: none;
    border-radius: 60px;
    padding: 13px 24px;
    cursor: pointer;
    color: white; 
    font-size: 16px; 
    /* display: flex; */
    justify-content: center; 
    align-items: center; 
    gap: 10px; 
    margin-left: 10px;
    margin-left: unset;
    margin-right: unset ;
    border-radius: 30px
}

.frame {
    position: absolute;
    width: 403px;
    height: 77px;
    top: 601px;
    left: 255px;
}

.ai-model {
    position: absolute;
    height: 48px;
    top: 12px;
    left: 258px;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 32px;
    letter-spacing: 0.96px;
    line-height: normal;
}

.text-wrapper {
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 32px;
    letter-spacing: 0.96px;
}

.group {
    width: 246px;
    position: absolute;
    height: 77px;
    top: 0;
    left: 0;
}

.overlap-group {
    position: relative;
    width: 242px;
    height: 77px;
}

.text-wrapper-2 {
    top: 5px;
    left: 0;
    filter: blur(5px);
    background: linear-gradient(180deg, rgb(0, 255, 170) 0%, rgb(63.75, 0, 153) 100%);
    -webkit-background-clip: text !important;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    color: transparent;
    position: absolute;
    height: 72px;
    font-family: "Poppins-SemiBoldItalic", Helvetica;
    font-weight: 600;
    font-style: italic;
    font-size: 48px;
    letter-spacing: 1.44px;
    line-height: normal;
}

.text-wrapper-3 {
    top: 0;
    left: 2px;
    color: #ffffff;
    position: absolute;
    height: 72px;
    font-family: "Poppins-SemiBoldItalic", Helvetica;
    font-weight: 600;
    font-style: italic;
    font-size: 48px;
    letter-spacing: 1.44px;
    line-height: normal;
}

.frame-2 {
    position: absolute;
    width: 419px;
    height: 77px;
    top: 601px;
    left: 787px;
}

.GPU-cloud {
    position: absolute;
    width: 178px;
    height: 46px;
    top: 14px;
    left: 237px;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 32px;
    letter-spacing: 0.96px;
    line-height: normal;
}

.overlap-group-wrapper {
    width: 228px;
    position: absolute;
    height: 77px;
    top: 0;
    left: 0;
}

.overlap-group-2 {
    position: relative;
    width: 224px;
    height: 77px;
}

.element-hr {
    position: absolute;
    height: 72px;
    top: 5px;
    left: 0;
    filter: blur(5px);
    background: linear-gradient(180deg, rgb(0, 255, 170) 0%, rgb(106.25, 0, 255) 100%);
    -webkit-background-clip: text !important;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: transparent;
    font-size: 48px;
    letter-spacing: 1.44px;
    line-height: normal;
}

.span {
    color: #000000;
    font-family: "Poppins-SemiBoldItalic", Helvetica;
    font-style: italic;
}

.hr {
    position: absolute;
    height: 72px;
    top: 0;
    left: 1px;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 48px;
    letter-spacing: 1.44px;
    line-height: normal;
}

.text-wrapper-4 {
    font-family: "Poppins-SemiBoldItalic", Helvetica;
    font-style: italic;
}

                            /*** Navigation Bar CSS ***/
.navigation-bar {
    position: absolute;
    width: 1440px;
    height: 100px;
    top: 0;
    left: 0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: #ffffff29;
}

.frame-3 {
    display: flex;
    width: 1200px;
    align-items: center;
    justify-content: space-between;
    position: relative;
    top: 24px;
    left: 120px;
}

.logo-with-company {
    position: relative;
    width: 94px;
    height: 19px;
}

.text-wrapper-5 {
    position: absolute;
    top: 0;
    left: 0;
    font-family: "Poppins-Bold", Helvetica;
    font-weight: 700;
    color: #f7f2ff;
    font-size: 24px;
    text-align: justify;
    letter-spacing: -0.72px;
    line-height: 19.2px;
    white-space: nowrap;
}

.button-container {
    all: unset;
    align-items: center;
    box-sizing: border-box;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 32px;
    position: relative;
}

.login-button {
    color: #f0e5ff;
    font-family: "Poppins-Medium", Helvetica;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -0.36px;
    line-height: 27px;
    position: relative;
    text-align: justify;
    white-space: nowrap;
    width: fit-content;
}

.start-button {
    width: 140px;
    height: 60px;
    background-color: #6A00FF;
    border: none;
    border-radius: 30px;
    padding: 13px 24px;
    cursor: pointer;
    color: white; 
    font-size: 16px; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    gap: 10px; 
    margin-left: 10px;
}

.label-wrapper {
    height: 52px;
    justify-content: center;
    gap: 10px;
    padding: 13px 24px;
    background-color: #6a00ff;
    border-radius: 30px;
    display: inline-flex;
    align-items: center;
    position: relative;
    flex: 0 0 auto;
    all: unset;
    box-sizing: border-box;
}
                            /*** Footer CSS ***/
.footer {
    position: absolute;
    width: 1440px;
    height: 100px;
    top: 1829px;
    left: 0;
    background-color: #0b0019;
}

.frame-4 {
    display: flex;
    width: 1200px;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    top: 36px;
    left: 120px;
}

.frame-5 {
    display: inline-flex;
    align-items: flex-start;
    position: relative;
    flex: 0 0 auto;
}

.text-wrapper-7 {
    position: relative;
    width: 17px;
    margin-top: -1px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #999999;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 27.3px;
}

.text-wrapper-8 {
    position: relative;
    width: 41px;
    margin-top: -1px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #999999;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 27.3px;
}

.text-wrapper-9 {
    position: relative;
    width: 280px;
    margin-top: -1px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #aaaaaa;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 27.3px;
}

.text-wrapper-10 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #aaaaaa;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 27.3px;
    white-space: nowrap;
}
                    /*** Our Partnership ***/
.frame-6 {
    position: absolute;
    width: 1440px;
    height: 720px;
    top: 1109px;
    left: 0;
    background-color: #0b0019;
}

.div-wrapper {
    position: absolute;
    width: 30%;
    height: 201px;
    top: 7px;
    left: 439px;
    background-image: 
        linear-gradient(to top left, transparent 5%, #9C7ACCCC 15%, #A565FF00 50%, transparent 95%),
        radial-gradient(at top , #150033, #0B001A20, #0B001A00);
    background-size: 100% 1px, 100% 100%;
    background-repeat: no-repeat;
    background-position: 50% top, center center;
}
/* linear-gradient(to left, transparent 5%, #9C7ACCCC 15%, #A565FF00 70%, transparent 100%), */
/* background-image: url(./img/group-1.png); */
    /* background-size: 100% 100%; */
    /* border-top-width: 1px; */
    /* border-top-color: #ffffff29; */
    /* background-image: radial-gradient(circle 100% at 50% 0%,#150033, #0B001A00); */

.text-wrapper-11 {
    position: absolute;
    height: 22px;
    top: 70px;
    left: 150px;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #f0e5ff;
    font-size: 32px;
    text-align: center;
    letter-spacing: 0.96px;
    line-height: normal;
    white-space: nowrap;
    /* margin-top: 50px; */
    /* background-color: rgba(0, 0, 139, 0.7);  
    padding: 5px 10px;  */
    /* border-radius: 5px;   */
}

.element {
    position: absolute;
    width: 114px;
    height: 68px;
    top: 396px;
    left: 1042px;
    object-fit: cover;
}

.img {
    position: absolute;
    width: 71px;
    height: 91px;
    top: 213px;
    left: 839px;
    object-fit: cover;
}

.element-2 {
    position: absolute;
    width: 200px;
    height: 48px;
    top: 234px;
    left: 181px;
    object-fit: cover;
}

.element-3 {
    position: absolute;
    width: 185px;
    height: 139px;
    top: 360px;
    left: 251px;
    object-fit: cover;
}

.XMLID {
    position: absolute;
    width: 247px;
    height: 48px;
    top: 234px;
    left: 483px;
    mix-blend-mode: lighten;
}

.tencent-cloud-logo {
    position: absolute;
    width: 144px;
    height: 111px;
    top: 374px;
    left: 552px;
}

.frame-7 {
    position: absolute;
    width: 240px;
    height: 54px;
    top: 234px;
    left: 1018px;
}

.AI-logo {
    position: absolute;
    width: 96px;
    height: 96px;
    top: 382px;
    left: 813px;
}
